html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto";
  /* background-color: #101827; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

